/* Empty. Add your own CSS if you like */
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

$dark: #3f4041;

.dark {
  background-color: #3f4041 !important;
  color: #ffffff;
  .scroll-content {
    background-color: #3f4041 !important;
  }
  .item {
    background-color: $dark;
    border: none;
    border-top: 1px solid #464646;
    border-bottom: 2px solid #333333;
    padding: 20px;
    color: #F0F1F1;
    max-height: none;

    &:last-child {
      border-bottom: 1px solid #333333;
    }
    &.current{ background-color:darken( $dark, 10% )   !important;
       border-top: 1px solid #464646 !important;
    border-bottom: 2px solid #333333 !important;
      p,h3{opacity: .7;}
            }
  }
  h2,
  h3,
  p,
  a{
    color: #F0F1F1;
  }
}
.dark-head {
  text-decoration: none;
}

.background {
    background-color: #EDEDED;
}

.down_percent {
  color: red;
  padding-left: 10px;
  padding-right: 20px;
}

.up_percent {
  color: green;
  padding-left: 16px;
  padding-right: 20px;
}

.detailCompte {
  display: inline-block;
  margin-right: 20;
}

.valuesCompte {
  float: right;
}

#cardCompte {
  padding: 20px;
}

.avatar {
    width: 53px;
    height: 55px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}
.avatarDiv {
  height: 170px;
  background-color: #5F5F5F;
  padding-bottom: 10px;
 }
 #avatarName {
  color:  white;
  margin-top: 10px;
  margin-left: 19px;
  padding-top: 100px;
  font-size: 15px;
  font-weight: 200;
 }

 .has-header {
    top: 33px;
}

#cardConsulting {
  padding: 10px;
}