<ion-view view-title="Consulting">
  <ion-content  class="background">

  <div ng-if="dataFromBanker == 0">
  <div class="card">
  <div class="item item-text-wrap">
    Aucune recommendation. 
  </div>
</div>
    </div>
    <div ng-repeat="index in dataFromBanker">
      <div ng-repeat="data in index ">
        <div  class="card">
          <div class="item item-divider">
          <div class="row">
            <div class="col col-33">Type: {{data.type}}</div>
            <div class="col col-33 col-offset-33">{{data.duration}}</div>
          </div>
        </div>
            <div id="cardConsulting" ng-bind-html="data.analysis"></div>
            <div class="col col-offset-70">
            <button class="button button-balanced" ng-click="acheter(index.cardNumber)">
              Acheter
            </button>
          </div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>

<!-- <script src="lib/highcharts/highstock.js"></script> -->
