<ion-view view-title="">
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Type</span>
        <input type="text" placeholder="Type" ng-model="opType">
      </label>
      <label class="item item-input item-select">
    <div class="input-label">Dataset</div>
    <select>
      <option selected>0808-848484-2121</option>
      <option>4242-696969-4242</option>
      <option>432325515614145145</option>
    </select>
  </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Last Name">
      </label>
      <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
</div>
    <div class="padding">
    <button class="button button-block button-positive button-outline">
      <b>Add</b>
    </button>
    </div>
  </ion-content>
</ion-view>
