<ion-view view-title="Opportunities">
  <ion-content class="padding">
    <div class="list card" ng-repeat="opportunity in opportunities">
      <div class="item item-divider" ng-class="{'opportunity-sent': opportunity.sent == true}">{{opportunity.type}}</div>
      <div class="item item-body">
        <div class="row">
        </div>
        <div class="row">
          <div>
            {{opportunity.analysis}}
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button class="button button-outline button-assertive" ng-click="discardOpportunity(opportunity)">
              Discard
            </button>
            <button class="button button-positive" ng-click="sendOpportunity(opportunity)">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
